[submodule "frontend"]
	path = frontend
	url = https://github.com/dipongkorroy000/L2-Assignment-008-frontEnd-deploy
[submodule "backend"]
	path = backend
	url = https://github.com/dipongkorroy000/L2-Assignment-008-backend-prisma-6.git
